.center
  .panel.panel-default
    = will_paginate @movies, renderer: BootstrapPagination::Rails 


- if @comments
  - @comments.each do |c|
    .thumbnail
      = User.find(c.user_id).email
      %p 
        = c.body



