// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center {
  text-align: center;
}

.post-data {
  float: right;
  color: gray;
}


.navbar-center {
  text-align: center;
}